extends includes/layout.pug

block content
  .container#Title
      h1 loginr?!
      h1 OH NOES!!! FOUR OHHH FOUR!!
    .welcome__image
      img(src='https://media.giphy.com/media/l3rlmIkNNIARa/giphy.gif')
