extends includes/layout.pug

block content
  .container
    h1 Loginr?!
    h3 OH NOES!!! FOUR OHHH FOUR!!
    hr
  .container
    img(src="https://media.giphy.com/media/l3rlmIkNNIARa/giphy.gif")


  style.
    html{
      font-size: 30px;
    }
    h1{
      font-size: 5rem;
    }
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

