extends includes/layout.pug

block content
  .container#Title
      h1 loginr
      h4 My Lil Login Site
      hr
      p.lorem#ipsum Loginr! Logoutr! Get wild with your darn self! Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      a.btn.btn-success.btn-block.btn-lg(href="/login") I wanna LOGINR!

      style.
        html{
          font-size: 30px;
        }
        h1{
          font-size: 5rem;
        }
        h4{
          font-size: 2rem;
        }
        p.lorem {
          font-size: 1rem;
          color: red;
        }
