/* CSS located in the "public" folder and linked in layout.pug as "/css/style.css" */
html{
  font-size: 30px;
  height: 100%;
}

body{
  background: linear-gradient(99deg, #F3F7D7 0, #B2D5F0 100%);
  color: green;
}

h1 {
  color: blue;
}

.navbar {
  background: linear-gradient(90deg, green 0%, white 55%);
}

.navbar li {
  background-color: white;
  color: black;
}

.blockUs{
  text-align: center;
  margin: 80px;
}

.blockUs a{
  font-size: 1.5rem;
  color: #555;
}

/* CSS! DEAL WITH IT! ;)
      ....           ....           ....           ....
     ||             ||             ||             ||
 /"""l|\        /"""l|\        /"""l|\        /"""l|\
/_______\      /_______\      /_______\      /_______\
|  .-.  |------|  .-.  |------|  .-.  |------|  .-.  |------
 __|L|__| .--. |__|L|__| .--. |__|L|__| .--. |__|L|__| .--.
_\  \\p__`o-o'__\  \\p__`o-o'__\  \\p__`o-o'__\  \\p__`o-o'_
------------------------------------------------------------
------------------------------------------------------------

*/
